@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Poppins&display=swap');


.App {
  background-color: #ffe9a9;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 800px;
}

.recipePreview{
  border: 5px solid rgb(177, 177, 177);
  min-height: 300px;
  width: 250px;
  background-color: rgb(254, 194, 10);
  border-left-style: dotted; 
  border-right-style: dotted;
  border-radius: 10%; 

}

.recipePreview > img{
  width: 95%;
  border-radius: 10%;
}
.recipePreview >div{
  align-items: center;
}

.recipePreview:hover{
  width: 260px;

}

.Recipe{
  border: 5px solid rgb(177, 177, 177);
  min-height: 500px;
  width: 450px;
  background-color: rgb(254, 194, 10);
  border-left-style: dotted; 
  border-right-style: dotted;
  border-radius: 10%; 
}

.accordion {
    color: #000000;
    background-color: rgb(255, 237, 185);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.Recipe >div{
  align-items: center;
}
.Recipe > img{
  width: 95%;
  border-radius: 10%;
}

.Logo{
  margin-left: 10px;
  height: 35px;
  position:relative;
}

.sticky{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(254, 194, 10);
  border: 2px solid black;
  border-radius: 25px;
}

.thumbnailBox > img{
  height: 40px;
}

.thumbnailBox > img:hover{
  height: 125px;
}